@{
    ViewBag.Title = "Home Page";
}
@section styles
{
    @Styles.Render("~/Content/autocomplete")
}
<div class="ui-widget">
    <label for="musicIndexFromPath">Music Index From Path:</label>
    <input type="search" name="musicIndexFromPath" data-autocomplete="@Url.Action("GetMusicAutocomplete", "Home")" />
</div>
<input type="search" name="lyricsIndexFromPath" data-autocomplete="@Url.Action("GetLyricsAutocomplete", "Home")" />

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/index")
}