@model Sciendo.Music.DataProviders.Models.Indexing.IndexModel
@{
    ViewBag.Title = "Index & Acquire";
    ViewBag.IndexingSelected = "selected";
    ViewBag.Current = "indexing";
}
@section styles
{
    @Styles.Render("~/Content/autocomplete")
    @Styles.Render("~/Content/indexing")
}
<div>
    <label for="indexFromPath">From music path:</label>
    <input 
        data-bind="value:indexFromPath" 
        type="search" 
        name="indexFromPath"
        class="longfield"
        data-autocomplete="@Url.Action("GetIndexingAutocomplete", "Home")" />
    <select id="actions" data-bind="options:actions, optionsCaption: 'Choose an action ...', value:selectedAction, event:{change:actionSelected}, attr:{class:showAs}, enable:isActive">
    </select>
</div>
<label id="errorIndexed" data-bind="text:indexingError"></label>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/index")
    <script>

        // Initiate the Knockout bindings
        var vm = new indexViewModel("@Server.HtmlEncode(@Model.SourceFolder)");
        feedbackvm.reactToIndexing = vm.indexingReaction;
        feedbackvm.reactToGetLyrics = vm.getLyricsReaction;
        ko.applyBindings(vm, document.getElementById("body"));
    </script>
}